html * {
    font-family: Arial, sans-serif;
}

body {
    background-color: #36213E;

}

#header {
    color: #70B77E;
    text-align: center;
}

#canvas{
    background-color: #36213E;

}

#floating_wrapper {
    position: fixed;
    top: 10vh;
    right: 1vw;
    width: 7vw;
}

#trackerBox {
    color: #70B77E;
    background-color: #554971;
    z-index: 2;
    border-radius: 10px;
    padding: 10px;
    height: 28vh; 
}

#trackerBoxHeader {
    text-align: center;
}

#TrackTable {
    width:100%;
    border: 3px solid;
    border-collapse: collapse;
    text-align: center;
    empty-cells: show;
}

#TrackTableHeader {
    border: 1px solid;
    padding: 10px;
}

.TrackTableData {
    background-color: #36213E;
    height: 2vh;
}

.TrackTableData:hover {
    background-color: #CF5C36; 
    color: #36213E;
}

#infoBox {
    color: #70B77E;
    background-color: #554971;
    z-index: 2;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

#infoBoxHeader {
    text-align: center;
}

#dev_console_toggle{
    background-color: #554971;
    width: 100%;
    color: #70B77E;
    z-index: 2;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: none;
}

#dev_console_toggle:hover{
    background-color: #36213E;
}

#dev_console_wrapper{
    position: fixed;
    top: 10vh;
    left: 1vw;
    width: 10vw;

}

#dev_console{
    color: #70B77E;
    background-color: #554971;
    z-index: 2;
    border-radius: 10px;
    height: 300px;
    width: 100%;
    display: none;
}

#FPSBox {
    color: #70B77E;
    background-color: #554971;
    z-index: 2;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}
